@media (max-width: 1200px) {
  #generator-sidebar {
    --custom-scale: 0.9;
  }
}

@media (max-width: 800px) {
  #generator-sidebar {
    --custom-scale: 0.8;
  }
}

@media (max-width: 480px) {
  #generator-sidebar {
    --custom-scale: 0.7;
  }

  .history-tab {
    flex-direction: column;
  }
}
